@page "/directors"
@inject DirectorService directorService

<PageTitle>Directors</PageTitle>

<h1>Directors</h1>

@if (directors == null)
{
    <p><em>Loading...</em></p>
}
else if (directors.data == null)
{
    <p><em>No data available</em></p>
}
else
{
  <div class="movie-container">
    @foreach (var director in directors.data.Content)
    {
      <div class="card" style="width: 18rem; max-width: 250px;">
        <div class="card-body">
          <h5 class="card-title">@director.Id. @director.Name @director.Surname</h5>
        </div>
      </div>
    }
  </div>

@* Paginacja *@
<div>
    <p>Page @(directors?.data?.Number + 1) of @(directors?.data?.TotalPages)</p>
    <button disabled="@directors?.data?.First" @onclick="() => LoadPage(-1)">Previous</button>
    <button disabled="@directors?.data?.Last" @onclick="() => LoadPage(1)">Next</button>
</div>

}

@code {
  private ServiceResponse<Page<Director>> directors;
  private int _selected = 0;

  private async Task LoadPage(int pageNumberIncrement)
  {
    int newPageNumber = directors.data.Number + pageNumberIncrement;
    directors = await directorService.GetDirectorsPage(newPageNumber, directors.data.Size);
  }

  protected override async Task OnInitializedAsync()
  {
    directors = await directorService.GetDirectorsPage();
  }
}

